
body {
  padding: 0px;
  margin: 0;
  background: rgba(255, 0, 0, 0.306);
}
.calculator-main {
  margin: 30px;
  width: 350px;
  padding: 20px;
  background: rgb(12, 36, 62);
  border-radius: 10px;
}
#result {
  width:100%;
  height: 160px;
  font-size: 80px;
  text-align: right;
  border: none;
  background: rgb(12, 36, 62);
  color: white;
  padding-right: 10px;
  border-radius: 10px;
}

#result:focus{
  outline: none;
}

.btn {
  width: 60px;
  height: 60px;
  margin: 2px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.923);
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bigbtn {
  height: 240px;
  border-radius: 50px;
}
.clr-light {
  background: rgb(91, 125, 162);
  box-shadow: none;
  font-size: 25px;
  color:rgba(255, 255, 255, 0.7);
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#clr{
    background:rgb(171, 48, 48);
}